extends layout

block content
  h1= title
  p.lead= message
  .row.mt-4
    .col-md-6
      h2 Latest News
      .card
        .card-body
          h5.card-title Coming Soon
          p.card-text Stay tuned for the latest sports news!
    .col-md-6
      h2 Upcoming Events
      .card
        .card-body
          h5.card-title Coming Soon
          p.card-text Events calendar will be available soon!
